@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Mitr');
body {
    max-width: 1366px;
    min-width: 828px;
}

.header {
    background-image: url(../img/background/manwithcroosbow3.jpg);
    background-size: cover;
    min-height: 200px;
}

.header-logo {
    font-family: 'Allerta Stencil';
    color: white;
    font-size: 3rem;
}

.main-menu {
    font-family: 'Mitr';
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    background-color: #F7FE2E;
    height: 50px;
    align-items: center;
}

.main-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.productsheader {
    display: flex;
    font-family: 'Mitr';
    color: white;
    height: 50px;
    margin: auto;
    background-color: #2E2E2E;
    justify-content: center;
}

.maintext {
    font-family: 'Mitr';
    width: 100%;
    background-image: url(../img/background/archery.jpg);
    background-size: cover;
}




.someproducts {
    display: flex;
    font-family: 'Mitr';
    font-size: 30px;
    color: white;
    height: 50px;
    margin: 0;
    background-color: #2E2E2E;
    justify-content: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.images {
    display: flex;
    justify-content: space-around;
    background-color: #2E2E2E;

    align-items: center;

}

.footer {
    background-color: #C03D3D;


    bottom: 0;
    left: 0;
    height: 150px;

    width: 100%;
}



.footer-logo {
    display: flex;
    font-family: 'Mitr';

    margin: 0;
    justify-content: center;
}

.copyright {

    display: flex;
    font-family: 'Mitr';
    justify-content: center;
}

.footerimg {
    display: flex;
    justify-content: space-around;

}

.telegram {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.face {
    height: 50px;
    width: 50px;
    border-radius: 20%;
}

.youtube {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #2E2E2E;
}

.partners>div {
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 25px;
    background-color: #2E2E2E;
    

}
